@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

q{
	font-style: italic;
	quotes: none;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote[xml|lang]{
	font-style: italic;
}

[epub|type~="z3998:signature"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
